---
http_interactions:
- request:
    method: post
    uri: https://test.deribit.com/api/v1/private/buy
    body:
      encoding: UTF-8
      string: instrument=BTC-26OCT18&quantity=1&price=&type=market
    headers:
      x-deribit-sig:
      - BxxwbXRLmYid.1540141101.zfRVq+/Z5bX13T/uz6HR0AMc7nG7VJn32C6SwbHG0gM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"testnet":true,"usOut":1540140102211599,"usIn":1540140102206809,"usDiff":4790,"success":true,"result":{"order":{"orderId":1780075159,"type":"market","instrument":"BTC-26OCT18","direction":"buy","price":7405.0,"label":"","amount":10.0,"quantity":1,"filledQuantity":1,"filledAmount":10.0,"avgPrice":6450.0,"commission":7.75e-7,"created":1540140102214,"lastUpdate":1540140102214,"state":"filled","postOnly":false,"api":true,"max_show":1,"maxShowAmount":10,"adv":false},"trades":[{"label":"","selfTrade":false,"quantity":1,"amount":10.0,"price":6450.0,"tradeSeq":32381,"matchingId":1779864390}]},"message":""}'
  recorded_at: Sun, 21 Oct 2018 16:41:42 GMT
recorded_with: VCR 4.0.0
