---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/getcurrencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usOut":1539872016313498,"usIn":1539872016313497,"usDiff":1,"testnet":true,"success":true,"result":[{"currency":"BTC","currencyLong":"Bitcoin","minConfirmation":2,"txFee":0.0006,"isActive":true,"coinType":"BITCOIN","baseAddress":null}],"message":""}'
  recorded_at: Thu, 18 Oct 2018 14:13:36 GMT
recorded_with: VCR 4.0.0
