---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/getinstruments?expired=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1541854307981661,"usIn":1541854307976542,"usDiff":5119,"testnet":true,"success":true,"result":[{"kind":"option","baseCurrency":"BTC","currency":"USD","minTradeSize":0.1,"instrumentName":"BTC-28DEC18-122500-P","isActive":false,"settlement":"month","created":"2018-07-24
        13:23:59 GMT","tickSize":0.0005,"pricePrecision":4,"expiration":"2018-12-28
        08:00:00 GMT","strike":122500.0,"optionType":"put"},{"kind":"option","baseCurrency":"BTC","currency":"USD","minTradeSize":0.1,"instrumentName":"BTC-30NOV18-4000-P","isActive":true,"settlement":"month","created":"2018-09-26
        08:01:00 GMT","tickSize":0.0005,"pricePrecision":4,"expiration":"2018-11-30
        08:00:00 GMT","strike":4000.0,"optionType":"put"},{"kind":"option","baseCurrency":"BTC","currency":"USD","minTradeSize":0.1,"instrumentName":"BTC-30NOV18-5500-C","isActive":true,"settlement":"month","created":"2018-09-26
        0[...]
