---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/getlasttrades?instrument=BTC-19OCT18-5250-C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1539951524494739,"usIn":1539951524494608,"usDiff":0,"testnet":true,"success":true,"result":[{"tradeId":1955836,"instrument":"BTC-19OCT18-5250-C","tradeSeq":13,"timeStamp":1539888612081,"quantity":0.1,"amount":0.1,"price":0.1835,"direction":"buy","tickDirection":0,"indexPrice":6388.98,"iv":372.38},{"tradeId":1953438,"instrument":"BTC-19OCT18-5250-C","tradeSeq":12,"timeStamp":1539884789380,"quantity":1.0,"amount":1.0,"price":0.18,"direction":"sell","tickDirection":3,"indexPrice":6361.53,"iv":352.86},{"tradeId":1953437,"instrument":"BTC-19OCT18-5250-C","tradeSeq":11,"timeStamp":1539884789380,"quantity":1.0,"amount":1.0,"price":0.18,"direction":"sell","tickDirection":2,"indexPrice":6361.53,"iv":352.86},{"tradeId":1950068,"instrument":"BTC-19OCT18-5250-C","tradeSeq":10,"timeStamp":153[...]
