---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/getorderbook?instrument=BTC-19OCT18-5250-C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1539870333287715,"usIn":1539870333287618,"usDiff":97,"testnet":true,"success":true,"result":{"state":"open","settlementPrice":0.18475869135807768,"instrument":"BTC-19OCT18-5250-C","bids":[{"quantity":2.0,"amount":2.0,"price":0.18,"cm":2.0,"cm_amount":2.0},{"quantity":5.0,"amount":5.0,"price":0.178,"cm":7.0,"cm_amount":7.0},{"quantity":1.0,"amount":1.0,"price":0.175,"cm":8.0,"cm_amount":8.0}],"asks":[{"quantity":5.0,"amount":5.0,"price":0.189,"cm":5.0,"cm_amount":5.0}],"tstamp":1539870332242,"last":0.19,"low":0.19,"high":0.19,"mark":0.18337266443016237,"uPx":6428.88,"uIx":"index_price","iR":0,"markIv":106.0,"askIv":330.3,"bidIv":0.0,"delta":0.99999,"gamma":0.0,"vega":0.00016,"theta":-0.01142},"message":""}'
  recorded_at: Thu, 18 Oct 2018 13:45:33 GMT
recorded_with: VCR 4.0.0
