---
http_interactions:
- request:
    method: post
    uri: https://test.deribit.com/api/v1/private/getopenorders
    body:
      encoding: UTF-8
      string: instrument=BTC-16NOV18-5500-C
    headers:
      X-Deribit-Sig:
      - BxxwbXRLmYid.1541855678.7qfI+ciFI3TEi+SU7mE8XQJK6+C2Pc07iXNU/F7sif0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usOut":1541854678936060,"usIn":1541854678936003,"usDiff":57,"testnet":true,"success":true,"result":[{"orderId":1867039575,"type":"limit","instrument":"BTC-16NOV18-5500-C","direction":"buy","price":0.02,"quantity":2.0,"amount":2.0,"filledQuantity":0.0,"filledAmount":0.0,"avgPrice":0.0,"commission":0.0,"created":1541762621551,"lastUpdate":1541762621551,"state":"open","label":"","api":true,"max_show":2.0,"postOnly":false}],"message":""}'
  recorded_at: Sat, 10 Nov 2018 12:57:58 GMT
recorded_with: VCR 4.0.0
