---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/getsummary?instrument=BTC-19OCT18-5250-C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1539951840571158,"usIn":1539951840571089,"testnet":true,"success":true,"result":{"instrumentName":"BTC-19OCT18-5250-C","openInterest":0.0,"high":0.1895,"low":0.18,"volume":3.1,"volumeBtc":3.1,"last":0.1835,"bidPrice":"","askPrice":"","midPrice":"","markPrice":0.1747,"uPx":6361.03,"uIx":"index_price","iR":0,"created":"2018-10-19
        12:24:00 GMT"},"message":""}'
  recorded_at: Fri, 19 Oct 2018 12:24:00 GMT
recorded_with: VCR 4.0.0
