---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v1/public/index
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usOut":1539871943430992,"usIn":1539871943430975,"usDiff":17,"testnet":true,"success":true,"result":{"btc":6435.9,"edp":6435.9},"message":""}'
  recorded_at: Thu, 18 Oct 2018 14:12:23 GMT
recorded_with: VCR 4.0.0
