---
http_interactions:
- request:
    method: post
    uri: https://test.deribit.com/api/v1/private/orderhistory
    body:
      encoding: UTF-8
      string: count=20
    headers:
      x-deribit-sig:
      - BxxwbXRLmYid.1540144267.QDcOVIQ4vTRSV67Al22y2gOQ+zRzsuF5h0rzGKSpzt4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usOut":1540143267658477,"usIn":1540143267656140,"usDiff":2337,"testnet":true,"success":true,"result":[{"amount":2.0,"filledAmount":2.0,"orderId":1780063496,"type":"limit","instrument":"BTC-26OCT18-10000-C","direction":"buy","price":0.02,"quantity":2.0,"filledQuantity":2.0,"avgPrice":0.02,"state":"filled","created":1540139910784,"tstamp":1540140471191,"commission":0.0008,"modified":1540140471191,"label":"","postOnly":false},{"amount":10.0,"filledAmount":10.0,"orderId":1780075159,"type":"market","instrument":"BTC-26OCT18","direction":"buy","price":7405.0,"quantity":1,"filledQuantity":1,"avgPrice":6450.0,"state":"filled","created":1540140102214,"tstamp":1540140102214,"commission":7.75e-7,"modified":1540140102214,"label":"","postOnly":false},{"amount":10.0,"filledAmount":10.0,"orderId":1780001238,"type":"market","instrument":"BTC-26OCT18","direction":"sell","price":5482.0,"quantity":1,"filledQuantity":1,"avgPri[...]
